<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Camera</title>
        <link rel="stylesheet" href="/static/assets/css/styles.css">
        <!-- MATERIAL -->
        <link rel="stylesheet" type="text/css" href="/static/assets/materialize/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- END-MATERIALIZE -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <!-- CUSTOM-CSS -->
        <link rel="stylesheet" href="/static/assets/css/custom.css">
        <!-- END-CUSTOM-CSS -->
    </head>
    <body>
        <div class="row container center">
            <h1 class="card-panel red accent-4 white-text">Errr... Page Not Found!</h1>
        </div>
        <!-- JQUERY -->
        <script type="text/javascript" src="/static/assets/javascript/jquery.js"></script>
        <!-- END-JQUERY -->
        <!-- MATERIALIZE-JS -->
        <script type="text/javascript" src="/static/assets/materialize/js/materialize.min.js"></script>
        <!-- END-MATERIALIZE-JS -->
        <!-- CUSTOM-JS -->
        <script type="text/javascript" src="/static/assets/javascript/custom.js"></script>
        <!-- END-CUSTOM-JS -->
    </body>
</html>