<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Camera</title>
        <link rel="stylesheet" href="/static/assets/css/styles.css">
        <!-- MATERIAL -->
        <link rel="stylesheet" type="text/css" href="/static/assets/materialize/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- END-MATERIALIZE -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <!-- CUSTOM-CSS -->
        <link rel="stylesheet" href="/static/assets/css/custom.css">
        <!-- END-CUSTOM-CSS -->
    </head>
    <body>
        <div class="container">
            <div id="app-container">
                <div class="app">
                    <a href="#" id="start-camera" class="card-panel">Mark Attendance</a>
                    <div class="card center" style="padding: 10px;">
                        <video class="responsive-video" id="camera-stream" style="height: 450px;"></video>
                    </div>
                    <img id="snap">
                    <p id="error-message"></p>
                    <div class="controls center">
                        <a href="#" id="delete-photo" title="Delete Photo" style="display: none;"><i class="material-icons">delete</i></a>
                        <!-- <a href="#" id="download-photo" download="unknown.png" title="Save Photo" class="disabled"><i class="material-icons">file_download</i></a>   -->
                        <form action="/" method="POST" id="image-uploader" name="image-uploader">
                            <input type="text" name="photo" id="download-photo" title="upload-photo" value="">
                            <a href="#" id="take-photo" title="Take Photo"><i class="material-icons">camera_alt</i></a>
                        </form>
                    </div>
                    <!-- Hidden canvas element. Used for taking snapshot of video. -->
                    <canvas></canvas>
                </div>
            </div>
        </div>
        <!-- JQUERY -->
        <script type="text/javascript" src="/static/assets/javascript/jquery.js"></script>
        <!-- END-JQUERY -->
        <!-- MATERIALIZE-JS -->
        <script type="text/javascript" src="/static/assets/materialize/js/materialize.min.js"></script>
        <!-- END-MATERIALIZE-JS -->
        <!-- CUSTOM-JS -->
        <script type="text/javascript" src="/static/assets/javascript/custom.js"></script>
        <!-- END-CUSTOM-JS -->
        <script src="/static/assets/javascript/script.js"></script>
    </body>
</html>